<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ARPES App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body>
    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-5 h-100">
            <div class="row d-flexcjustify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-6 my-auto d-md-block px-5">
                                <h1 class="fw-bold display-4" id="title"></h1>
                            </div>
                            <div class="col-md-6 col-lg-6 d-flex align-items-center text-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form method="POST" action="/login">

                                        <div class="mb-3 pb-1">
                                            <h1 class="fw-bold mb-0">CAPTION GENERATOR</h1>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your
                                            account
                                        </h5>

                                        {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ messages[0] }}
                                        </div>
                                        {% endif %}
                                        {% endwith %}


                                        <div class="form-floating mb-4" style="border-width: thick">
                                            <input type="email" id="form2Example17" placeholder="email"
                                                class="form-control" name="email" />
                                            <label for="form2Example17">Email address</label>
                                        </div>

                                        <div class="form-floating mb-4">
                                            <input type="password" id="form2Example27" placeholder="Password"
                                                class="form-control form-control-lg" name="password" />
                                            <label for="form2Example27">Password</label>
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block">Login</button>
                                        </div>

                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a
                                                href="{{ url_for('auth.signup') }}" style="color: #393f81;">Register
                                                here</a></p>
                                        <a href="#!" class="small text-muted">Terms of use.</a>
                                        <a href="#!" class="small text-muted">Privacy policy</a>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- For typing effect -->
    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        var txts = ['A PICTURE SPEAKS A THOUSAND WORDS.',
            'UNLOCK THE STORY BEHIND EVERY IMAGE.',
            'LET YOUR IMAGES TELL THEIR TALE.',
            'SEE BEYOND THE FRAME.',
            'FROM PIXELS TO PROFOUND STORIES.',
            'DISCOVER THE UNSEEN NARRATIVES.']; /* The text */
        var txt_index = 0;
        var speed = 50; /* The speed/duration of the effect in milliseconds */
        var i = 0;

        window.onload = async function typeWriter() {
            while (true) {
                txt = txts[txt_index];
                for (let i = 0; i < txt.length; i++) {
                    document.getElementById("title").innerHTML += txt.charAt(i);
                    await sleep(50);
                }
                await sleep(3000);
                document.getElementById("title").innerHTML = "";
                txt_index = (txt_index + 1) % txts.length

            }
        }
    </script>
</body>