{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Caption Generation History</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info mt-3" role="alert">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <div class="mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Image Filename</th>
                    <th>Caption</th>
                    <th>Generated Date</th>
                </tr>
            </thead>
            <tbody>
                {% for history in histories %}
                <tr>
                    <td>{{ history.image_file }}</td>
                    <td>{{ history.generated_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>{{ history.caption }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}