{% extends "base.html" %}

{% block content %}
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="container mt-4">
    <h1 class="text-center mb-3">User Activity Statistics</h1>

    <div class="row justify-content-center">
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card bg-gradient" style="background-color: rgb(222, 222, 222);">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <span class="material-symbols-outlined" style="font-size: 50px;">
                                    photo_library
                                </span>
                            </div>
                            <div class="media-body text-right">
                                <h3>{{ statistics.image_uploaded }}</h3>
                                <span>Image Uploaded</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card bg-gradient" style="background-color: rgb(222, 222, 222);">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <span class="material-symbols-outlined" style="font-size: 50px;">
                                    subtitles
                                </span>
                            </div>
                            <div class="media-body text-right">
                                <h3>{{ statistics.sentence_generated }}</h3>
                                <span>Sentence Generated</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card bg-gradient" style="background-color: rgb(222, 222, 222);">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <span class="material-symbols-outlined" style="font-size: 50px;">
                                    format_size
                                </span>
                            </div>
                            <div class="media-body text-right">
                                <h3>{{ statistics.character_generated }}</h3>
                                <span>Character Generated</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h1 class="text-center mb-1 mt-3">Caption Generation History</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info mt-3" role="alert">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <div class="mt-4">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Image</th>
                    <th>Generated Date</th>
                    <th>Caption</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for history in histories %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><img id="preview" src="{{ url_for('main.load_image', filename=history.image_file) }}"
                            style="height: 40px;"></td>
                    <td>{{ history.generated_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>{{ history.caption }}</td>
                    <td>
                        <button type="button" class="btn open-dialog" data-toggle="modal"
                            data-target="#exampleModalCenter" data-id="{{ history.id }}">
                            <span class=" material-symbols-outlined">delete</span>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete this history?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirm">Delete</button>
                <button class="btn btn-primary" id="confirmLoading"
                    style="display: none;" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Data Table JS -->
<script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>
<script>
    $(document).ready(function () {
        $('#table').DataTable({
            language: {
                //customize pagination prev and next buttons: use arrows instead of words
                'paginate': {
                    'previous': '<span class="fa fa-chevron-left"></span>',
                    'next': '<span class="fa fa-chevron-right"></span>'
                },
                //customize number of elements to be displayed
                "lengthMenu": 'Display <select class="form-control input-sm">' +
                    '<option value="10">10</option>' +
                    '<option value="20">20</option>' +
                    '<option value="50">50</option>' +
                    '<option value="-1">All</option>' +
                    '</select> results'
            }
        })
    });
</script>
<script>
    $(document).on("click", ".open-dialog", function () {
        var generationId = $(this).data('id');
        $(".modal-footer #confirm").off('click').click({ generationId: generationId }, deleteHistory);
    });
    function deleteHistory(event) {
        $("#confirm").hide();
        $("#confirmLoading").show();
        const formData = new FormData();
        formData.append("generation_id", event.data.generationId);
        fetch("/delete_history", {
            method: "POST",
            body: formData
        }).then(function (response) {
            location.reload();
        })
    }
</script>
<style>
    .dataTables_length {
        display: none;
    }

    .dataTables_filter {
        float: right;
    }
</style>
{% endblock %}